<div class='card' *ngIf='product'>
  <div >
      <nav class='navbar navbar-expand navbar-light bg-light'>
      <ul class='nav nav-pills'>
      <li class='navbar-brand'>{{pageTitle+':'+product.productName}}</li>
      <li><a class='nav-link'  (click)='logout()' >Logout</a></li>
      </ul>
      </nav>
    </div>
  <div class="card-footer">
    <img src={{product.imageUrl}} title={{product.productName}}/>
    <div>
    <div>
      <span>Name: {{product.productName}}</span>
    </div>
    <div>
        <span>Code: {{product.productCode}}</span>
    </div>
    <div>
        <span>Date: {{product.releaseDate}}</span>
    </div>
    <div>
        <span>Price: ${{product.price}}</span>
    </div>
    </div>
   <button class='btn btn-outline-secondary' (click)='onBack()' style='width:80px'>
  <i class = 'fs fs-chvron-left'></i> Back
  </button>
  <button class='btn btn-outline-secondary' (click)='onBuy()' style='margin-left:20px;width:80px'>
      <i class = 'fs fs-chvron-left'></i> Buy
  </button>
  </div>
</div>
