<div class='card' *ngIf='product'>
  <div class = 'card-header'>
    {{pageTitle+':'+product.productName}}
  </div>
  <div class="card-footer">
    <div>
    <div>
      <span>Name: {{product.productName}}</span>
    </div>
    <div>
        <span>Code: {{product.productCode}}</span>
    </div>
    <div>
        <span>Date: {{product.releaseDate}}</span>
    </div>
    <div>
        <span>Price: {{product.price}}</span>
    </div>
    <div style="display:'inline-block'">
        <span> Rating: <app-star [rating]='product.starRating'></app-star></span>
    </div>
    </div>
   <button class='btn btn-outline-secondary' (click)='onBack()' style='width:80px'>
  <i class = 'fs fs-chvron-left'></i> Back
  </button>
  <button class='btn btn-outline-secondary' (click)='onBuy()' style='width:80px'>
      <i class = 'fs fs-chvron-left'></i> Buy
  </button>
  </div>
</div>
